
<html>
  <head><title><%= title %></title></head>
  <body>
    <h1>Simple FaceBook Scraper: User Input</h1></br>
    <form action="results" method="get">
                    <input type="text" name="keyword" placeholder="keyword" required/><br></br>
                    <input type="text" name="zipcode" placeholder="Zip Code" required/></br></br>
                    <input type="text" name="radius" placeholder="Radius" required/></br></br>
                    <input type="submit" />
    </form>
  </body>
</html>