
<html>
  <head><title><%= title %></title></head>
  <body>
    <h1>Simple FaceBook Tool: <%= title %></h1></br>
    <form action="results" method="get">
		<input type="text" name="keyword" placeholder="keyword" required/><br></br>
		<% if (locals.Files_Exist) { %>
			<input type="submit" />
		<% } %>
		<% if (!locals.Files_Exist) { %>
			You'll need to upload a file full of zip codes
		<% } %>	
            
    </form> 
	<form      
      action='/upload_files' 
      method='get'>
        <input type='submit' value='Upload New Files' />
    </form>  
	<% if (locals.List_Of_Zips) { %>
	
		Current List of Zip Codes:</br></br>
		<%= List_Of_Zips %>
	<% } %>
	<!-- Check to see if the files exist -->
	
	
  </body>
</html>