
<html>
	<head>
		<!-- Title of the page if it is proided -->
		
		<title>
			<% if (locals.title) { %>
				<%= title %>
			<% } %>
		</title>
	
		<!-- Add css object here -->
		
		<style>
			<% if (locals.css) { %>
				<%= css %>
			<% } %>
		</style>
	</head>
  <body>

	<h1>
		Simple FaceBook Tool: <% if (locals.title) { %> <%= title %> <% } %>
	</h1>

	SUCCESS!!! </br></br>
	<form
      action='/homepage' 
      method='get'>
        <input type='submit' value='Back To homepage' />
    </form>  
  </body>
</html>