
<html>
  <head><title><%= title %></title></head>
  <body>
    <h1>Simple FaceBook Tool: <%= title %></h1></br>

	SUCCESS!!! </br></br>
	<form
      action='/homepage' 
      method='get'>
        <input type='submit' value='Back To homepage' />
    </form>  
  </body>
</html>