
<html>
  <head><title><%= title %></title></head>
  <body>
    <h1>Simple FaceBook Tool: <%= title %></h1></br>
    <!-- <form action="results" method="get">
                    <input type="text" name="keyword" placeholder="keyword" required/><br></br>
                    <input type="text" name="zipcode" placeholder="Zip Code" required/></br></br>
                    <input type="text" name="radius" placeholder="Radius" required/></br></br>
                    <input type="submit" />
    </form> -->
	Bad Upload !!! Try7 Again!!!
	<form      
      action='/upload_files' 
      method='get'>
        <input type='submit' value='Try Again!!!' />
    </form>  
	<form
      action='/homepage' 
      method='get'>
        <input type='submit' value='Back To homepage' />
    </form>  
  </body>
</html>